.payContainer{
  width: 100vw;
  height: 100vh;
  display: grid;
  /* place-items: center; */
  place-content: center;
  /* margin-top: 1rem;    */
  background: rgb(92, 41, 41)
}
.payContainer >div{
        gap: 0.3rem; 
        opacity: 0.8; 
        border:  0.4px solid lightgray;
        border-radius: 0.4rem; 
        background:  lightGreen; 
        padding: 0rem 1rem 2rem 1rem;   
}

@media screen and (max-width: 1024px) {
    .payContainer > div{
        width: 100% ;
    }
}
@media screen and (max-width: 620px) {
    .payContainer > div{
        width: 100% ;
        margin-top: 4rem;
}
}