
    .navSmall{
        display: none
    }

@media screen and (max-width: 1024px){
    .navSmall{
        position: fixed;
        width: 52rem;
        display: grid;
        align-items: center;
        place-content: center;
        border: 1px solid lightgray;
        background: white;
    }
    .anyi-booking-services{
        color: black;
        font-weight: 600;
        font-size: 2.5rem; 
        margin-left: 0rem;
        padding: 1rem 0rem;    
    }
    .navSmallCont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0rem;
    }
}

/* 620PX */
@media screen and (max-width: 620px){
    .navSmall{
        flex-direction: column;
        justify-content: space-between;
        width: 36rem;
    }
    .anyi-booking-services{
        color: black;
        font-weight: 500;
        font-size: 1.5rem; 
        margin-left: 7rem;
        padding: 1rem 0rem;    
    }
    .navSmallCont{
        gap: 2.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

}