.homeContainer{
    width: 100vw;
}

.homeContainer> div{
background-image: url('../../images/GIG.png');
 background-color: #cccccc;
 background-position: center; /* Center the image */
 background-repeat: no-repeat; /* Do not repeat the image */
 background-size: cover; 

 display:flex;
 gap: 3rem;
}
.travellingFrom , .travellingTo{
     background: inherit; 
     border-radius: 0.5rem;
     height: 3rem; 
     border: 1px solid gray;
     color: white;
     width: 30rem; 
     margin: 1rem 0rem 0.2rem 1rem;   
}
.adults_select, .date_home{
    width: 14rem;
    margin: 0.5rem 0rem 0rem 0rem;
    background: transparent;
    border: 0.2px solid rgb(161, 159, 159);
    border-radius: 0.5rem;
    height: 2.9rem;
    color: white
}
.date_home{
    margin-left: 1rem;
}


@media screen and (max-width: 1240px) {
    /* .homeContainer{
        width: 100%;
    } */
    .homeContainer> div{
         flex-direction: column;
         gap: 0.5rem;
         width: 100vw;
        }
        .travellingFrom, .travellingTo{
            width: 90%; 
       }
}
@media screen and (max-width: 600px) {
    .homeContainer{
        margin-top: -4rem;
    }
    
       .adults_select{
        width: 100%;
    }
    .date_home{
        width: 90%;
    }
}