.adminVehicleInfo{
 display: grid;
 gap: 1rem;
 grid-template-columns: repeat(4, 1fr);
 border: 1px solid gray;
 margin-left: 1.5rem;
 margin-top: 1rem;
 padding: 1rem;
 background: black;
}
.adminVehicleInfo > div{
 padding: 0.5rem;
 border-radius: 0.5rem;
 background: white;
}
.buttonParent{
    padding: 1rem 2rem 0rem 2rem;
}
.delete{
    border: 1px solid gray;
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    margin-right: 4rem;
    background: darkblue;
    color: white;
}
.update{
    border: 1px solid gray;
    border-radius: 0.3rem;
    padding: 0.1rem 0.5rem;
    background: darkblue;
    color: white;
}

@media screen and (max-width: 1024px) {
    .adminVehicleInfo{
        grid-template-columns: repeat(1, 1fr);
        max-height: 40rem;
        overflow: auto;
        margin-left: 7rem;
       }       
    
}
@media screen and (max-width: 620px) {
    .adminVehicleInfo{
        grid-template-columns: repeat(1, 1fr);
        max-height: 35rem;
        overflow: auto;
        margin-left: 2.2rem;
       }       
    
}