.allUsers{
    margin: 6rem 0rem 0rem 0rem ;
    padding: 2rem;
}
.mapContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.mapContainer2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}
.mapBody{
    border: 0.5px solid lightgray;
    padding: 1rem;
    width:25rem;
    border-radius: 1rem;
    background: white;
}
.seatContainer{
    display: flex;
    justify-content: space-between;
}
.seatBody{
    display: flex;
}
.space-between{
    display:flex;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .mapContainer{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .mapContainer2{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
    .mapBody{
        width:25rem;
    }
    
}
@media screen and (max-width: 620px) {
    .mapContainer{
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        max-height: 80vh;
        overflow-y: auto;
    }
    .mapContainer2{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
    }
    .mapBody{
        width:110%;
    } 
}