.lContainer{
    display: grid;
    place-items: center;
    /* place-content: center; */
    width: 100vw;
    height: 100vh;
    margin-top: 5rem;
    background: rgb(92, 76, 76)
}
.toggleButtons{
    display: flex;
}

@media screen  and (max-width:1024px){
    .lContainer{
        margin-top: 0rem;
    }    
}
@media screen  and (max-width:620px){
    .lContainer{
        /* margin-top: 12rem; */
    }    
}
